body {
	background: rgb(255,165,0, 0.5);
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica;
	padding-bottom: 40px;
	padding-top: 40px;
}
h1{
	padding-bottom: 5px;
	text-align: center;
	font-size: 50px;
	font-variant: small-caps;

}
#TotalPoints{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
p{
	font-size: 25px;
	font-weight: bold;
}
form{
	text-align: left;
}
input[type=text]{
	max-width: 100px;
	border-color: black;
	margin: auto;
}
input[type=submit]{
	color: white;
	border-color: black;
	background: black;
	padding: 10px;
	
}
label{
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 20px;
}
